.div_btn_search {
	margin: 10px 0px -10px 0px;
}

.div_index_search {
	margin-top: 5px;
}

.input-group-addon {
    padding: 6px 12px !important;
}

.input-group[class*=col-] {
    padding-left: 15px !important;
}

.form-control[readonly] {
	color: #34495e !important;
}

/*css datepicker*/
.datepicker-dropdown {
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

.table-condensed {
	width: 100%;
}
/*css datepicker*/

.btn-blue {
	background: #163C6D;
    color: #fff;
}

.control-label, .checkbox-inline {
	font-size: 22px;
}

.text-red {
	color:red;
}